html; body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.fadingBoxes > div {
  float: left;
  margin-right: 10px;
  height: 20px;
  width: calc((100% - 20px)/3);
  :last-of-type {
    margin-right: 0;
  }
}
