html; body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


#boxes > div {
  float: left;
  margin-right: 10px;
  height: 120px;
  border: 0px solid #fff;
  width: calc((100% - 200px)/3);
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

#boxes > div:last-of-type {
  margin-right: 0;
}

.blueBox {
  background-color: blue;
}
.greenBox {
  background-color: green;
}
.redBox {
  background-color: red;
}

.longbox {
  height: 440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  width: 20%;
  background-color: yellow;
  height: inherit;
}

.box2 {
  width: 80%;
  background-color: orange;
  height: inherit;
}
