html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container, .row {
  height: 100%;
  width: 100%
}
#boxes > div {
  float: left;
  margin-right: 10px;
  height: 120px;
  border: 0px solid #fff;
  width: calc((100% - 270px)/4);
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

.longbox {
  height: 120px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  text-align: center;
}

.box {
  height: inherit;
  width: 800px;
  font-size: 40px;
  text-align: center;
  padding: 30px
}

#boxes > div:last-of-type {
  margin-right: 0;
}

.blue,
.blueBox {
  background-color: blue;
}

.greenBox, .greencolor {
  background-color: green;
}
.redBox, .red,
.redcolor {
  background-color: red;
}

.box1 {
  width: 20%;
  background-color: yellow;
  height: inherit;
}

.box2 {
  width: 80%;
  background-color: orange;
  height: inherit;
  flex-flow: 1;
}

.large {
  font-size: 30px;
}

.deep {
  color: grey;
  text-decoration: underline;
}

.grey {
  background-color: grey;
}

.white {
  background-color: white;
}

.Abox{
  height: 100px;
  width: 100%;
}
#transt {
  width : 200px;
  height: 200px;
  transition: width 2s;
  -webkit-transition: width 2s;
}
#transt:hover {
  width: 600px;
}
